<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>mqq</string>
		<string>alipay</string>
		<string>taobao</string>
		<string>openapp.jdmobile</string>
		<string>snssdk1128</string>
		<string>sinaweibo</string>
		<string>bilibili</string>
		<string>imeituan</string>
		<string>iosamap</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>用于获取当前连接 WiFi 的名称（SSID）与 BSSID</string>
	<key>NSMotionUsageDescription</key>
	<string>用于识别运动状态（步行/跑步/驾车）并采集传感器数据</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>用于获取广告标识符（IDFA）以演示设备信息采集</string>
</dict>
</plist>
